# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.idea
# C extensions
*.so

# Virtual environments / dependency managers
.venv/
venv/
env/
ENV/
.uv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo
